<app-navbar></app-navbar>
<h1>Login</h1>
<table>
    <tr>
        <td></td>
        <td>{{form.message}}</td>
    </tr>
    <tr>
        <th>Login ID :</th>
        <td><input type="text" [(ngModel)]="form.loginId" name="loginId" /></td>
    </tr>
    <tr>
        <th>Password :</th>
        <td><input type="text" [(ngModel)]="form.password" name="password" /></td>
    </tr>
    <tr>
        <th></th>
        <td><button (click)="signIn()">submit</button></td>
    </tr>
</table>
<app-footer></app-footer>